@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-image: url('login.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

::selection {
  background: #fa4299;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: rgba(255, 182, 234, 0.5);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.title {
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.form-inner {
  width: 100%;
}

.field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #fc83bb;
}

input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

input:focus::placeholder {
  color: #b3b3b3;
}

.pass-link {
  margin-top: 5px;
}

.pass-link a,
.signup-link a {
  color: #fa4299;
  text-decoration: none;
}

.pass-link a:hover,
.signup-link a:hover {
  text-decoration: underline;
}

.btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
  border-radius: 5px;
  transition: all 0.4s ease;
}

.btn:hover .btn-layer {
  left: 0;
}

input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 30px;
}
